{% extends "public/layout/base.html" %}
{% block content %}
<div id="featureplaylist" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content ">
            <!-- heading -->
            <h2>Create Playlist</h2>
            <hr>
            <!-- paragraph -->
            <p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best
                <strong class="theme-color">Music</strong>.</p>
        </div>
        <!-- hero play list -->
        <div class="hero-playlist">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <form method="POST" action="{{url_for('upload')}}" enctype="multipart/form-data">
                        <!-- music album image -->
                        <div class="figure">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="title">Artist</label>
                                <input type="text" class="form-control" name="artist" placeholder="Artist">
                            </div>
                            <div class="form-group">
                                <label for="title">Album</label>
                                <input type="text" class="form-control" name="album" placeholder="Album">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">File</label>
                                <input type="file" class="form-control-file" accept=".mp3" name="file">
                            </div>
                        </div>
                        <!-- album details -->
                        <div class="album-details">
                            <button type="submit" class="btn btn-lg btn-theme">Add Now</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- play list -->
                    <div class="playlist-content">
                        <ul class="list-unstyled">
                            {% for song in songs %}
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>{{song.title}}</h4>
                                    <p><strong>Album</strong>: {{song.album}} &nbsp;|&nbsp; <strong>Type</strong>: Rock
                                        &nbsp;|&nbsp; <strong>Singer</strong>: {{song.artist}}</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="{{url_for('delete',id=song.id)}}"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}